<!-- HTML Head -->
<%- include('../includes/head.ejs') %>

	<!-- Template Helper Functions -->
    <% include ../includes/functions %>
    
    <link rel="stylesheet" href="/css/forms.css">

	<!-- Header -->
	<%- include('../includes/header.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
            <div class="m-l-25 m-r--38 m-lr-0-xl">

                <h3><%= pageTitle %></h3>

                        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/profile" method="POST" novalidate>

                <% if (oldInput._id) { %>
                <input type="hidden" name="other_user_id" value="<%= oldInput._id %>">
                <% } %>
                <div class="form-control">
                    <label for="email">E-Mail</label>
                    <input 
                        class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                        type="email" 
                        name="email" 
                        id="email" 
                        value="<%= oldInput.email %>">
                </div>
                            <div class="form-control">
                <label for="first_name">First Name</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'first_name') ? 'invalid' : '' %>"
                    type="first_name" 
                    name="first_name" 
                    id="first_name" 
                    value="<%= oldInput.first_name %>">
                </div>
                <div class="form-control">
                    <label for="last_name">Last Name</label>
                    <input 
                        class="<%= validationErrors.find(e => e.param === 'last_name') ? 'invalid' : '' %>"
                        type="last_name"
                        name="last_name"
                        id="last_name"
                        value="<%= oldInput.last_name %>">
                </div>
                <div class="form-control">
                    <label for="address_line1">Address Line 1</label>
                    <input 
                        class="<%= validationErrors.find(e => e.param === 'address_line1') ? 'invalid' : '' %>"
                        type="address_line1"
                        name="address_line1"
                        id="address_line1"
                        value="<%= oldInput.address_line1 %>">
                </div>
                <div class="form-control">
                        <label for="last_name">Address Line 2</label>
                        <input 
                            class="<%= validationErrors.find(e => e.param === 'address_line2') ? 'invalid' : '' %>"
                            type="address_line2"
                            name="address_line2"
                            id="address_line2"
                            value="<%= oldInput.address_line2 %>">
                </div>
                <div class="form-control">
                        <label for="city">City</label>
                        <input 
                            class="<%= validationErrors.find(e => e.param === 'city') ? 'invalid' : '' %>"
                            type="city"
                            name="city"
                            id="city"
                            value="<%= oldInput.city %>">
                </div>
                <div class="form-control">
                        <label for="state">State</label>
                        <input 
                            class="<%= validationErrors.find(e => e.param === 'state') ? 'invalid' : '' %>"
                            type="state"
                            name="state"
                            id="state"
                            value="<%= oldInput.state %>">
                </div>
Hi!

                </form>
            </div>
        </div>
    </div>
</div>

	<!-- Footer -->
	<%- include('../includes/footer.ejs') %>

<!-- Foot -->
<%- include('../includes/foot.ejs') %>