<!-- HTML Head -->
<%- include('../includes/head.ejs') %>

	<!-- Template Helper Functions -->
    <% include ../includes/functions %>
    
    <link rel="stylesheet" href="/css/forms.css">

	<!-- Header -->
	<%- include('../includes/header.ejs') %>

	<!-- Cart -->
    <%- include('../includes/cart.ejs') %>


    <!-- breadcrumb -->
    <div class="container">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
                Home
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>
            
            <% if (cart_items.length) { %>
            <a href="shopping-cart" class="stext-109 cl8 hov-cl1 trans-04">
                    Shopping Cart
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>

            <span class="stext-109 cl4">
                Checkout - Customer Information
            </span>
            <% } else { %>
            <span class="stext-109 cl4">
                Create User Account
            </span>
            <% } %>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">

                    <h3><%= pageTitle %></h3>

                    <%# if (cart_items.length) { %>
                        <!--ul class="cart__item-list">
                            <%# cart_items.forEach(p => { 
                                <li class="cart__item">
                                    <h2><#= p.product.title %></h2>
                                    <h3>Quantity: <%#= p.quantity </h3>
                                </li>
                            <%# }) 
                        </ul>
                        <hr-->
                    <%# } %>

                <% if (errorMessage) { %>
                    <div class="user-message user-message--error"><%= errorMessage %></div>
                <% } %>
                    <form class="login-form" action="/signup" method="POST" novalidate>
                        <div class="form-control">
                            <label for="email">E-Mail</label>
                            <input 
                                class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                                type="email" 
                                name="email" 
                                id="email" 
                                value="<%= oldInput.email %>">
                        </div>
                        <div class="form-control">
                            <label for="password">Password</label>
                            <input 
                                class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                                type="password" 
                                name="password" 
                                id="password" 
                                value="<%= oldInput.password %>">
                        </div>
                        <div class="form-control">
                            <label for="confirmPassword">Confirm Password</label>
                            <input 
                                class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>"
                                type="password" 
                                name="confirmPassword" 
                                id="confirmPassword" 
                                value="<%= oldInput.confirmPassword %>">
                        </div>
                        <div class="form-control">
                            <label for="first_name">First Name</label>
                            <input 
                                class="<%= validationErrors.find(e => e.param === 'first_name') ? 'invalid' : '' %>"
                                type="first_name" 
                                name="first_name" 
                                id="first_name" 
                                value="<%= oldInput.first_name %>">
                        </div>
                        <div class="form-control">
                            <label for="last_name">Last Name</label>
                            <input 
                                class="<%= validationErrors.find(e => e.param === 'last_name') ? 'invalid' : '' %>"
                                type="last_name"
                                name="last_name"
                                id="last_name"
                                value="<%= oldInput.last_name %>">
                        </div>
                        <div class="form-control">
                                <label for="address_line1">Address Line 1</label>
                                <input 
                                    class="<%= validationErrors.find(e => e.param === 'address_line1') ? 'invalid' : '' %>"
                                    type="address_line1"
                                    name="address_line1"
                                    id="address_line1"
                                    value="<%= oldInput.address_line1 %>">
                        </div>
                        <div class="form-control">
                                <label for="last_name">Address Line 2</label>
                                <input 
                                    class="<%= validationErrors.find(e => e.param === 'address_line2') ? 'invalid' : '' %>"
                                    type="address_line2"
                                    name="address_line2"
                                    id="address_line2"
                                    value="<%= oldInput.address_line2 %>">
                        </div>
                        <div class="form-control">
                                <label for="city">City</label>
                                <input 
                                    class="<%= validationErrors.find(e => e.param === 'city') ? 'invalid' : '' %>"
                                    type="city"
                                    name="city"
                                    id="city"
                                    value="<%= oldInput.city %>">
                        </div>
                        <div class="form-control">
                                <label for="state">State</label>
                                <input 
                                    class="<%= validationErrors.find(e => e.param === 'state') ? 'invalid' : '' %>"
                                    type="state"
                                    name="state"
                                    id="state"
                                    value="<%= oldInput.state %>">
                        </div>
                        <div class="form-control">
                                <label for="state">Postal Code</label>
                                <input 
                                    class="<%= validationErrors.find(e => e.param === 'postalCode') ? 'invalid' : '' %>"
                                    type="postalCode"
                                    name="postalCode"
                                    id="postalCode"
                                    value="<%= oldInput.postalCode %>">
                        </div>
                        <div class="form-control">
                                <label for="country">Country</label>
                                <input
                                    class="<%= validationErrors.find(e => e.param === 'country') ? 'invalid' : '' %>"
                                    type="country"
                                    name="country"
                                    id="country"
                                    value="<%= oldInput.country ? oldInput.country : 'USA' %>">
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn" type="submit"><%= cart_items.length ? 'Continue to Payment' : 'Signup' %></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../includes/footer.ejs') %>

<!-- Foot -->
<%- include('../includes/foot.ejs') %>