<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/user.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
            <% if (users.length > 0) { %>
                <div class="grid">
                    <% for (let user of users) { %>
                        <article class="card user-item">
                            <header class="card__header">
                                <h1 class="product__title">
                                    <%= user.first_name %> <%= user.last_name %>
                                </h1>
                            </header>
                            <div class="card__content">
                                <h2 class="product__price">
                                    <%= user.email %>
                                </h2>
                                <p class="product__description">
                                    <% if (user.orders.length <= 0) { %>
                                        <span>User has not ordered!</span>
                                    <% } else { %>
                                        <ul class="orders">
                                            <% user.orders.forEach(order => { %>
                                                <li class="orders__item">
                                                    <h1>Order - # <%= order._id %> - <a href="/orders/<%= order._id %>">Invoice</a></h1>
                                                    <ul class="orders__products">
                                                        <% order.products.forEach(p => { %>
                                                            <li class="orders__products-item"><%= p.product.title %> (<%= p.quantity %>)</li>
                                                        <% }); %>
                                                    </ul>
                                                    <div class="card__actions">
                                                        <input type="hidden" value="<%= order._id %>" name="orderId">
                                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                        <button class="btn" type="button" onclick="shippedOrder(this)">Shipped</button>
                                                        <button class="btn" type="button" onclick="deleteOrder(this)">Delete</button>
                                                    </div>
                                                </li>
                                            <% }); %>
                                        </ul>
                                    <% } %>
                                </p>
                            </div>
                            <div class="card__actions">
                            </div>
                        </article>
                        <% } %>
                </div>
                <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                <% } else { %>
                    <h1>No Users Found!</h1>
                    <% } %>
        </main>
            <%- include('../includes/end.ejs') %>
            <script src="/js/orders.js"></script>