<div class="flex-c-m flex-w w-full p-t-38">
    <% if (currentPage !== 1 && previousPage !== 1) { %>
        <a href="?page=1" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">1</a>
    <% } %>
    <% if (hasPreviousPage) { %>
        <a href="?page=<%= previousPage %>" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1"><%= previousPage %></a>
    <% } %>
    <a href="?page=<%= currentPage %>" class="active" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1"><%= currentPage %></a>
    <% if (hasNextPage) { %>
        <a href="?page=<%= nextPage %>" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1"><%= nextPage %></a>
    <% } %>
    <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
        <a href="?page=<%= lastPage %>" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1"><%= lastPage %></a>
    <% } %>
</div>