<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/excel2007.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (order) { %>

            <table class="ExcelTable2007">

            </table>
            <p>
                    <input type="hidden" value="<%= order._id %>" name="orderId">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn" type="button" onclick="shippedOrder(this)">Shipped</button>
                    <button class="btn" type="button" onclick="confirm('Are you sure you want to delete this order (<%= order._id %>)?') && deleteOrder(this)">Delete</button>
            </p>
        <% } else { %>
            <h1>User Not Found!</h1>
        <% } %>
    </main>
        <%- include('../includes/end.ejs') %>
        <script src="/js/orders.js"></script>
        <script src="/js/users.js"></script>