<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/excel2007.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (orders.length > 0) { %>
            <table class="ExcelTable2007">
                <tr><th class="heading"> </th><th>A</th><th>B</th><th>C</th><th>D</th><th>E</th><th>F</th></tr>
                <tr><td class="heading">1</td><td>Customer</td><td>Order #</td><td>Products (Qty)</td><td>Date</td><td>Invoice</td><td>Action Buttons</td></tr>
                <% orders.forEach(function(order, index) { %>
                    <tr class="order_row<%= order.fulfillment_status === 8 ? ' green' : '' %>"><td class="heading"><%= index + 2 %></td>
                        <td><a href="/admin/users/<%= order.user._id %>"><%= order.user.first_name %> <%= order.user.last_name %></a></td>
                        <td><a href="/admin/orders/<%= order._id %>"><%= order._id %></a></td>
                        <td>
                            <ul class="orders__products">
                            <% order.products.forEach(p => { %>
                                <li class="orders__products-item"><%= p.product.title %> (<%= p.quantity %>)</li>
                            <% }); %>
                            </ul>
                        </td>
                        <td><%= order._id.getTimestamp().toLocaleString("en-US", {timeZone: "America/Chicago"}).replace(/:\d{2}\s/,' ') %></td>
                        <td><a href="/orders/<%= order._id %>">Invoice</a></td>
                        <td>
                            <input type="hidden" value="<%= order._id %>" name="orderId">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn ship" type="button" onclick="shippedOrder(this)"><%= order.fulfillment_status === 8 ? 'Unship' : 'Shipped' %></button>
                            <button class="btn" type="button" onclick="confirm('Are you sure you want to delete this order (<%= order._id %>)?') && deleteOrder(this)">Delete</button>
                        </td>
                    </tr>
                <% }); %>
            </table>
        <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
        <% } else { %>
            <h1>No Orders Found!</h1>
        <% } %>
    </main>
        <%- include('../includes/end.ejs') %>
        <script src="/js/orders.js"></script>