<!-- HTML Head -->
<%- include('../includes/head.ejs') %>
	
	<!-- Header -->
	<%- include('../includes/header.ejs') %>

	<!-- Cart -->
    <%- include('../includes/cart.ejs') %>

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>	

	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							<!--Our Story-->About Breese.Store
						</h3>

						<p class="stext-113 cl6 p-b-26">
							<h4>Blazing Fast eCommerce Solution</h4>
							Breese.Store is a fully-functioning eCommerce solution built on Node.js and MongoDB.  I built the site 100% from scratch, complete with credit card payment integration, order management system, and automated email communications.  Later, I integrated this very slick front-end "skin" (complete with mock fashion photos!) which was developed by the awesome folks at <a href="https://colorlib.com" target="_blank">Colorlib</a>.
						</p>
						<p class="stext-113 cl6 p-b-26">
							<h4>Why Node.js?</h4>
							I chose to use Node.js because it is great in building fast, scalable web applications.   It’s capable of handling a huge number of simultaneous connections with high throughput, which equates to high scalability.  Node.js uses JavaScript programming language via the V8 engine.  A key paradigm that JavaScripts supports is Event-Driven, asynchronous programming with the help of callbacks, promises, and async/await patterns.  I mainly use promises in Breese.Store, which appear on both the frontend and backend of the app.
						</p>

						<p class="stext-113 cl6 p-b-26">
							<h4>What about PHP/Python/Ruby etc.?</h4>
							Web applications powered by languages like PHP, Python, and Ruby often results in a user experience that seemed slow, boggy, and non-responsive.
							The LAMP stack was the first web development platform I learned and over the years, I have built dozens of web applications on it.  Some utilized frameworks such as Drupal and Wordpress, while others were built on custom MVC and object-oriented solutions.  The drawback to scripting languages like PHP is that each web request is assigned their own CPU thread.  If 100 users request a page at the exact moment, 100 threads would queue up to use the CPU.  If a particular thread needs to perform a high intensive I/O operation, all subsequent requests have to wait until this request has completed before they can even begin. 
							
							With Node.js, it is different.  When 100 users simutaneously send requests to a Node.js HTTPS server, they all share a single main thread and all get immediate access to the CPU via the Node.js Event Loop.  In this scenario, if a particular request requires an intensive I/O operation, Node automatically hands it over to the operating system via a temporary parallel thread, freeing up the event loop to handle tasks of subsequent requests.  This asynchronous processing allows the server to handle web traffic in a much more efficient manner, ultimately resulting in a nimbler and more consistent experience for the end user.
						</p>

						<p class="stext-113 cl6 p-b-26">
							<h4>More About Steve</h4>
							I develop performant and easy-to-maintain web applications for big-named clients at my current employer.  On the side, I keep busy developing and improving some pretty awesome web apps.  In the process, have become proficient in many cloud computing, network and technical operations.  Please checkout my personal website at <a href="https://www.stevebreese.com">www.SteveBreese.com</a> to see what drives me forward.
						</p>
						<p class="stext-113 cl6 p-b-26">
							Got a question? <a href="/contact">Contact me</a> any time!
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="/images/about-01.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Mauris non lacinia magna. Sed nec lobortis dolor. Vestibulum rhoncus dignissim risus, sed consectetur erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam maximus mauris sit amet odio convallis, in pharetra magna gravida. Praesent sed nunc fermentum mi molestie tempor. Morbi vitae viverra odio. Pellentesque ac velit egestas, luctus arcu non, laoreet mauris. Sed in ipsum tempor, consequat odio in, porttitor ante. Ut mauris ligula, volutpat in sodales in, porta non odio. Pellentesque tempor urna vitae mi vestibulum, nec venenatis nulla lobortis. Proin at gravida ante. Mauris auctor purus at lacus maximus euismod. Pellentesque vulputate massa ut nisl hendrerit, eget elementum libero iaculis.
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
							</p>

							<span class="stext-111 cl8">
								- Steve Job’s 
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="/images/about-02.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	

	<!-- Footer -->
	<%- include('../includes/footer.ejs') %>

<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>

<!-- Foot -->
<%- include('../includes/foot.ejs') %>