<!-- HTML Head -->
<%- include('../includes/head.ejs') %>
	
	<!-- Header -->
	<%- include('../includes/header.ejs') %>

	<!-- Cart -->
    <%- include('../includes/cart.ejs') %>


	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Contact
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-104 p-b-116">
		<div class="container">
			<div class="flex-w flex-tr">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md" style="position: relative;">
					<%- include('../includes/contact-form.ejs') %>
				</div>

				<div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-map-marker"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Address
							</span>

							<p class="stext-115 cl6 size-213 p-t-18">
								716 N. Franklin Avenue<br>Palatine, IL 60067 US
							</p>
						</div>
					</div>

					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-phone-handset"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Let's Talk
							</span>

							<p class="stext-115 cl1 size-213 p-t-18">
								847-902-8722
							</p>
						</div>
					</div>

					<div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-envelope"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Sale Support
							</span>

							<p class="stext-115 cl1 size-213 p-t-18" id="contact-email-link">
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
	
	<!-- Map -->
	<div class="mapContainer">
		<!--div class="size-303" id="google_map" data-map-x="42.123415" data-map-y="-88.065210" data-pin="/images/icons/pin.png" data-scrollwhell="0" data-draggable="1" data-zoom="11"></div-->
	</div>

	<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1549984893" />
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
	

	  <div id="map" style="width: 100%; height: 400px; background: grey" />
<script  type="text/javascript" charset="UTF-8" >
		
	/**
	 * Moves the map to display over Boston using viewBounds
	 *
	 * @param  {H.Map} map      A HERE Map instance within the application
	 */
	function setMapViewBounds(map){
	  var bbox = new H.geo.Rect(42.3736,-71.0751,42.3472,-71.0408);
	  map.setViewBounds(bbox);
	}
	
	
	
	
	
	/**
	 * Boilerplate map initialization code starts below:
	 */
	
	//Step 1: initialize communication with the platform
	var platform = new H.service.Platform({
	  app_id: 'jLHjZHOy9dqZsJLFKpnK',
	  app_code: 'xiBwfMXbgBbXkS_XdolUfQ',
	  useHTTPS: true
	});
	var pixelRatio = window.devicePixelRatio || 1;
	var defaultLayers = platform.createDefaultLayers({
	  tileSize: pixelRatio === 1 ? 256 : 512,
	  ppi: pixelRatio === 1 ? undefined : 320
	});
	
	//Step 2: initialize a map  - not specificing a location will give a whole world view.
	var map = new H.Map(document.getElementById('map'),
	  defaultLayers.normal.map, {pixelRatio: pixelRatio});
	
	//Step 3: make the map interactive
	// MapEvents enables the event system
	// Behavior implements default interactions for pan/zoom (also on mobile touch environments)
	var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
	
	// Create the default UI components
	var ui = H.ui.UI.createDefault(map, defaultLayers);
	
	// Now use the map as required...
	setMapViewBounds(map);
</script>


	<!-- Footer -->
	<%- include('../includes/footer.ejs') %>

<!-- Foot -->
<%- include('../includes/foot.ejs') %>