<!-- HTML Head -->
<%- include('../includes/head.ejs') %>
	
	<!-- Header -->
	<%- include('../includes/header.ejs') %>

	<!-- Cart -->
    <%- include('../includes/cart.ejs') %>

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Help & FAQs
		</h2>
	</section>	

	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Help
						</h3>

                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                        1. Why should I sign up for a Brese.Store shopping account?
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body">
                                        Creating an acconut on Breese.store will allow you to:
                                        <ul>
                                            <li>Shop and check out faster on your next visit</li>
                                            <li>Check your order status online</li>
                                            <li>Obtain a history of items you've purchased</li>
                                            <li>Receive updates on special offers, events, and new products and services</li>
                                            <li>Retain items in your shopping bag and Wish List</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                        2. How do I return my online order?
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <ul>
                                            <li>To return your online purchase through the mail, please follow these steps. Visit <strong><a href="/returns">breese.store/returns</a></strong> and sign in to get started. Select the items you are returning. Print the pack slip and USPS label, and place the items in a secure package. Drop the package in your mailbox, a USPS collection box, or at a U.S. Post Office. Your refund will be issued to the credit or debit card associated with the purchase. When using Breese.Store’s easy online returns, a $5 shipping fee will be deducted from the total refund. Breese.Store will waive the $5 return shipping fee if a new order is placed within 24 hours.</li>
                                            <li>If you used PayPal®, your refund will be issued via a Breese.Store Gift Card. For a refund to your PayPal® account, please mail your return.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                        3. How do I track my order? 
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <ul>
                                            <li><strong>Breese.Store Order with an online account</strong>
                                                <ul>
                                                    <li>Login to your Breese.Store account to see your recent order history. Select ‘Orders’ on the left-hand side of the page.</li>
                                                    <li>For each order, you can view the order details and a shipment summary. The shipment information includes the tracking number.</li>
                                                    <li>You can conveniently track your order by visiting the website of the appropriate shipping carrier and entering the tracking number.</li>
                                                    <li>If you have additional questions, please contact Guest Services at <a href="mailto:guest.services@breese.store">guest.services@breese.store</a> or <a href="tel:800.607.9788">800.607.9788</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <strong>Breese.Store Order as a Guest</strong>
                                                <ul>
                                                    <li>Contact Guest Services, with your order number, at <a href="mailto:guest.services@breese.store">guest.services@breese.store</a> or 847.902.8722 and a representative will be able to assist you.</li>
                                                </ul>
                                            </li>
                                            <li><strong>Breese Store Special Order</strong>
                                                <ul>
                                                    <li>Visit the website of the appropriate shipping carrier and enter the tracking number provided by the store.</li>
                                                    <li>If you do not have your tracking number, please contact Guest Services at <i><a href="mailto:guest.services@breese.store">guest.services@breese.store</a> or 847.902.8722<em></em>.</i>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <strong>Shipping carrier websites:</strong>
                                                <ul>
                                                    <li><a href="http://www.fedex.com/us/track/">FedEx</a></li>
                                                    <li><a href="https://tools.usps.com/go/TrackConfirmAction_input">USPS</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="/images/about-01.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Frequently Asked Questions
						</h3>

                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseFour">
                                        5. Can I cancel or change my order?
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordion">
                                    <div class="card-body">
                                            <p style="margin-left: 20px;"> To cancel or change your online order or an order you placed in-store, please contact Guest Services at <a href="mailto:guest.services@buckle.com">guest.services@breese.store</a> or 847.902.8722. <strong>We will do everything we can to accommodate your request. However, our orders fill and ship quickly, so please be aware that the window is very short for cancellations and changes. </strong></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                                        6. My order shows delivered but I do not have it, what should I do?
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                            <p style="margin-left: 20px;">First, thoroughly check around your house and with neighbors. Often times, carriers will deliver packages to back doors, side doors, or to neighbors who were home at the time. If you are still unable to locate it, please wait until the end of the day as tracking information may show delivered when the package is still in transit. If, after that time, you are still unable to locate your order, please contact Guest Services at <a href="mailto:guest.services@breese.store">guest.services@breese.store</a> or 847.902.8722. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                                        7. Forgot your password? 
                                    </a>
                                </div>
                                <div id="collapseSix" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        
                                        <ul><li>Click the 'Forgot Password' link on the account login page.</li><li>Enter your email address.</li><li>A link will be sent to your email allowing you to reset your password.</li></ul>
                                    </div>
                                </div>
                            </div>
                        </div>

					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="/images/about-02.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	

	<!-- Footer -->
	<%- include('../includes/footer.ejs') %>

<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>

<!-- Foot -->
<%- include('../includes/foot.ejs') %>