<!-- HTML Head -->
<%- include('../includes/head.ejs') %>

	<!-- Template Helper Functions -->
    <% include ../includes/functions %>
    
    <link rel="stylesheet" href="/css/forms.css">

	<!-- Header -->
	<%- include('../includes/header.ejs') %>

	<!-- Cart -->
    <%- include('../includes/cart.ejs') %>


	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>

			<span class="stext-109 cl4">
				Your Orders
			</span>
		</div>
	</div>
		

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <h3>Your Orders</h3>
                    <% if (orders.length <= 0) { %>
                    <p>You do not have any orders yet.</p>
                    <% } else { %>
                    <ul class="orders">
                        <% orders.forEach(order => { %>
                            <li class="orders__item">
                                <h1>Order - # <%= order._id %> - <a href="/orders/<%= order._id %>">Invoice</a></h1>
                                <ul class="orders__products">
                                    <% order.products.forEach(p => { %>
                                        <li class="orders__products-item"><%= p.product.title %> (<%= p.quantity %>)</li>
                                    <% }); %>
                                </ul>
                                <p>Status: <%= order.fulfillment_status === 8 ? 'Shipped!' : 'Processing Order' %></p>
                            </li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

	<!-- Footer -->
	<%- include('../includes/footer.ejs') %>

<!-- Foot -->
<%- include('../includes/foot.ejs') %>