<!-- HTML Head -->
<%- include('../includes/head.ejs') %>

	<!-- Template Helper Functions -->
	<% include ../includes/functions %>

	<!-- Header -->
	<%- include('../includes/header.ejs') %>

	<!-- Cart -->
    <%- include('../includes/cart.ejs') %>


	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shopping Cart
			</span>
		</div>
	</div>
		

	<!-- Shopping Cart -->
	<%- include('../includes/shopping-cart-full.ejs') %>


	<!-- Footer -->
	<%- include('../includes/footer.ejs') %>

<!-- Foot -->
<%- include('../includes/foot.ejs') %>