<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/excel2007.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (user) { %>

            <table class="ExcelTable2007">
                    <tr><th class="heading"></th><th>A</th><th>B</th><th>C</th><th>D</th><th>E</th></tr>
                    <tr><td class="heading">1</td><td>First Name:</td><td colspan="4"><%= user.first_name %></td></tr>
                    <tr><td class="heading">2</td><td>Last Name:</td><td colspan="4"><%= user.last_name %></td></tr>
                    <tr><td class="heading">3</td><td>Email:</td><td colspan="4"><%= user.email %></td></tr>
                    <tr><td class="heading">4</td><td>Address:</td><td colspan="4"><%= user.address_line1 %><%= user.address_line2 && '<br>' %><%= user.address_line2 %></td></tr>
                    <tr><td class="heading">5</td><td>City:</td><td colspan="4"><%= user.city %></td></tr>
                    <tr><td class="heading">6</td><td>State:</td><td colspan="4"><%= user.state %></td></tr>
                    <tr><td class="heading">7</td><td>Country:</td><td colspan="4"><%= user.country %></td></tr>
                <% if (user.orders.length > 0) { %>
                    <tr><td class="heading">8</td><td>Orders:</td><td>Order #</td><td>Products (Qty)</td><td>Invoice</td><td>Action Buttons</td></tr>
                    <% user.orders.forEach(function(order, index) { %>
                        <tr class='user_row'>
                            <td class="heading"><%= index + 9 %></td>
                            <td><%= order._id %></td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr><td class="heading">8</td><td colspan="3">User has no orders</td><td></td><td></td>
                <% } %>
            </table>
        <% } else { %>
            <h1>User Not Found!</h1>
        <% } %>
    </main>
        <%- include('../includes/end.ejs') %>
        <script src="/js/users.js"></script>